/* ====================================================================== 
   CUSTOMIZATION 
 ------------------------------------------------------------------------
*/

/* local dejavu fonts */
@font-face {  
    font-family: DejavuSansMono ;  
    src: local("Dejavu Sans Mono Book"), url( "../DejaVuSansMono.ttf" ) format("truetype");  
    font-weight: normal;
}

@font-face {  
    font-family: DejavuSansMono ;  
    src: local("Dejavu Sans Mono Bold"), url( "../DejaVuSansMono-Bold.ttf" ) format("truetype");  
    font-weight: bold;
}

@font-face {  
    font-family: 'DejavuSerif' ;  
    font-weight: normal;
    src: local('Dejavu Serif'), url( '../DejaVuSerif.ttf' ) format('truetype');  
}

@font-face {  
    font-family: 'DejavuSerif' ;  
    font-weight: bold;
    src: local('Dejavu Serif Bold'), url( '../DejaVuSerif-Bold.ttf' ) format('truetype');  
}


/* disable table of contents */
.toc, #toc { 
    display: none; 
}

/* disable wiki logo */
#p-logo { 
    display: none; 
    height: 0px;
    width: 0px;
}

/*----------------------------------------------------------------------*/
/* search results style */

ul.mw-search-results {
    padding: 1em 1em 1em 2em;
}

.mw-search-results li {   
    padding-bottom: 0.4em;
    font-size: 1.3em;
    line-height: 1.2em;
}

div.mw-search-result-data, div.mw-search-createlink, div.mw-search-pager-bottom, div.searchresults p b {
    display: none;
}

/*----------------------------------------------------------------------*/
#mw-panel {
    top: 40px
}

html, body {
    font-family: DejavuSerif, "DejaVu Serif", verdana, sans-serif;
    font-size: 1em;
}

#siteSub {
    display: none !important;
}

#contentSub {
    display: none !important;
}

div#bodyContent {
    line-height: 1.2em;
}

#content {
    line-height: 1.2em;
}

p {
    line-height: 1.5em;
}

h3 {
    padding: 1.1em 0 0.2em 0.75em;
}

/* teletype font */
tt, code, pre, .cpp.source-cpp {
    font-family: DejavuSansMono, "DejaVu Sans Mono", courier, monospace !important;
}

code {
    background-color: transparent;   
}

/* bold font */
strong, b {
    font-weight: bold;
}

/* ----------------------------------------------------------------------
   Geshi
*/
div.mw-geshi {
    padding: 1em; 
    margin: 1em 0; 
    border: 1px dashed #2f6fab;
    width: 60em;
    overflow:auto;
}

.mw-geshi a {
    color: #003080;
}

/* ----------------------------------------------------------------------
   Template:math
*/
span.texhtml {
    font-style: italic;
}

/* ----------------------------------------------------------------------
   Template:mfrac
*/
.template-mfrac > table { 
    display: inline-block; 
    vertical-align: middle; 
    background-color: transparent;
    padding: 0;
    border-spacing: 0; 
    text-align: center;
    font-size: 0.9em;
}

.template-mfrac > table > tbody > tr > td {
    border: none;
}

.template-mfrac > table > tbody > tr:first-child > td {
    border-bottom:0.1em solid;
}

/* ----------------------------------------------------------------------
   Template:mrad
*/
.template-mrad {
    white-space: nowrap;
    margin-top: 1px;
}

.template-mrad > span:nth-last-child(3) {
    font-size: 0.7em;
    vertical-align: 0.8em;
    margin-right: -0.5em;
}

.template-mrad > span:nth-last-child(2) {
    font-size: 1.1em;
}

.template-mrad > span:nth-last-child(1) {
    border-top: 0.1em solid;
}

/* ----------------------------------------------------------------------
   Template:su
*/

.template-su {
    display: inline-block;
    margin-bottom: -0.3em;
    vertical-align: 0.8em;
    line-height: 1.2em;
    font-size: 85%;
    text-align: left;
    padding-left: 0.15em;
}

.template-su-b {
    vertical-align: -0.4em;
}

/* ----------------------------------------------------------------------
   Template:inherited
*/
.template-inherited {
    overflow: hidden; 
    margin: 1em 0 0 0; 
    border: 1px solid #aaa; 
    background-color: #f3f3fc; 
    padding: 0.2em 1em 1em 1em;
}

/* ----------------------------------------------------------------------
   Template:inheritance diagram
*/
.template-inheritance-diagram {
    float:right; 
    border: 1px solid #aaa;
    padding: 0.2em 0.2em 0.2em 0.2em;
}

/* ----------------------------------------------------------------------
   Template:sidebar
*/
.template-sidebar-body {
    float: right; 
    clear: right; 
    color: black; 
    background: #f9f9f9; 
    border: 1px solid #aaa; 
    margin: 0 0 1.0em 1.0em; 
    padding: 0.2em; 
    border-spacing: 0.4em 0; 
    text-align: center; 
    line-height: 1.4em; 
    font-size: 88%;
}

.template-sidebar-outertitle {
    padding-bottom: 0.2em; 
    font-size: 125%; 
    line-height: 1.15em; 
    font-weight: bold;
}

.template-sidebar-topimage {
    padding: 0.4em 0; 
}

.template-sidebar-topcaption {
    padding-top: 0.2em; 
    font-size: 85%; 
    line-height: 1.2em; 
}

.template-sidebar-title {
    padding: 0.2em 0.4em 0.2em; 
    font-size: 1.5em; 
    line-height: 1.15em; 
    font-weight: bold;
}

.template-sidebar-above {
    padding: 0.3em 0.4em 0.3em; 
    font-weight: bold;
}

.template-sidebar-heading {
    border-top: 1px solid #aaaaaa;
    padding-top: 0.2em; 
    font-weight: bold;
    font-size: 1.3em;
}

.template-sidebar-content {
    padding-bottom: 0.2em; 
}

.template-sidebar-below {
    padding: 0.3em 0.4em 0.3em; 
    font-weight: bold; 
}

/* ----------------------------------------------------------------------
   Template:cmark
   Template:mark
*/
.template-cmark {
    color: #808080;
    font-size: 0.80em;
}

.template-mark {
    color: #008000;
    font-size: 0.80em;
}

/* ----------------------------------------------------------------------
   Template:sparam
*/
.template-sparam {
    color: #808080;
    font-style: italic;   
}

/* ----------------------------------------------------------------------
   Template:dcl spec
   Template:dcl list *
*/
.template-dcl-spec {
    font-weight: normal;
    font-size:0.7em; 
    line-height:130%;
}

.template-dcl-list-begin {
    background-color: transparent;
    max-width: 60em;
    border-spacing: 0;
}

.template-dcl-list-item > td:nth-child(1) {
    width: 0%; 
    line-height: 1.2em; 
    padding: 0.2em 0 0.25em 0.75em;
    white-space: nowrap;
}

.template-dcl-list-item > td:nth-child(2) {
    line-height: 1.1em;
    padding-left: 0.75em;
}

.template-dcl-list-header > td {
    padding: 0;
    font-size: 0.8em;
    line-height: 1em;
}

.template-dcl-list-header > td:nth-child(1) > div {
    margin-left: 3em; 
}

.template-dcl-list-sep {
    border-top: 1px solid #CCCCCC; 
    padding: 0;
}

/* ----------------------------------------------------------------------
   Template:tdcl list *
*/
.template-tdcl-list-begin {
    background-color: transparent; 
    margin: 0.4em 0 0.3em 0;
}

.template-tdcl-list-hitem > td {
    padding: 0.2em 0 0.2em 0.75em; 
    line-height: 1.1em; 
    font-weight: bold;
}

.template-tdcl-list-item > td {
    padding: 0.2em 0 0.2em 0.75em; 
    line-height: 1.1em; 
}

.template-tdcl-list-header > td {
    padding: 0;
    font-size: 0.8em;
    line-height: 1em;
}

.template-tdcl-list-header > td:nth-child(1) > div {
    margin-left: 3em; 
}

.template-tdcl-list-sep {
    border-top: 1px solid #CCCCCC; 
    padding: 0;
}

/* ----------------------------------------------------------------------
   Template:ddcl list *
*/
.template-ddcl-list-begin {
    display: inline;
    border-spacing: 0;
}

.template-ddcl-list-header > td:nth-child(1) > div {
    margin-left: 3em; 
    font-size: 0.8em;
}

.template-ddcl-list-item > td:nth-child(1) {
    padding: 0.4em 6.0em 0.3em 1em;
    font-size: 1.1em;
}

.template-ddcl-list-item > td:nth-child(1) > div p,
.template-ddcl-list-item > td:nth-child(1) > div span {
    line-height: 1.1em;
    margin: 0; 
    padding: 0;
}

.template-ddcl-list-item > td:nth-child(2) {
    padding-right: 2em;
}

.template-ddcl-list-item > td:nth-child(3) {
    padding: 0;
}

.template-ddcl-list-item-nopad {
    padding-right: 0 !important; 
}

.template-ddcl-list-sep {
    border-top: 1px solid #CCCCCC; 
    padding: 0;
}

/* ----------------------------------------------------------------------
   Template:sdcl list *
*/
.template-sdcl-list-begin {
}

.template-sdcl-list-item > td:nth-child(1) {
    padding: 0.5em 6em 0.5em 1em;
    font-size: 1.1em;
}

.template-sdcl-list-item dd,
.template-sdcl-list-item p,
.template-sdcl-list-item span {
    line-height: 1.1em;
}

.template-sdcl-list-item > td:nth-child(2) {
    padding-right: 2em;
}

.template-sdcl-list-item > td:nth-child(3) {
    padding: 0;
}

.template-sdcl-list-item-nopad {
    padding-right: 0 !important; 
}

.template-sdcl-list-sep {
    border-top: 1px solid #CCCCCC; 
    padding: 0;
}


/* ----------------------------------------------------------------------
   Template:sb list *
*/
.template-sb-list-begin {
    line-height: 1em; 
    width: auto; 
    background-color: transparent;
    border-spacing: 0;
}

.template-sb-list-h1 > td {
    padding: 0.2em 0 0.2em 1.4em;
    font-size: 1.15em;
    font-weight: bold;
}

.template-sb-list-h2 > td {
    padding: 0.2em 0 0.2em 1em;
    font-weight: bold;
}

.template-sb-list-ln-table {
    vertical-align: middle; 
    padding: 0;
    background-color: transparent;
    border-spacing: 0;
}

.template-sb-list-ln-table tr > td:nth-child(1) {
    font-family: DejavuSansMono, "DejaVu Sans Mono", courier, monospace;
    padding: 0;
}

.template-sb-list-ln-table tr > td:nth-child(2) {
    padding: 0 0 0 0.2em;
}

/* ----------------------------------------------------------------------
   Template:param list *
*/
.template-param-list-begin {
    border-spacing: 0;
}

.template-param-list-item > td {
    padding: 0.5em 1em 0 0; 
    vertical-align: top;
}

.template-param-list-item > td:nth-child(1) {
    white-space: nowrap;
    text-align: right;
    font-weight: bold;
    font-family: DejavuSansMono, "DejaVu Sans Mono", courier, monospace;
}

/* ----------------------------------------------------------------------
   Template:tparam list *
*/
.template-tparam-list-begin {
    border-spacing: 0;
}

.template-tparam-list-item > td {
    padding: 0.5em 1em 0 0; 
    vertical-align: top;
}

.template-tparam-list-item > td:nth-child(1) {
    white-space: nowrap;
    text-align: right;
    font-weight: normal;
    font-family: DejavuSansMono, "DejaVu Sans Mono", courier, monospace;
}

/* ----------------------------------------------------------------------
   Template:member*
*/
.template-member-table {
    border-spacing: 0px; 
    vertical-align: middle; 
    padding: 0;
    background: transparent;
}

.template-member-table tr > td:nth-child(1) {
    padding: 0;
}

.template-member-table tr > td:nth-child(2) {
    padding-left: 0.2em;
}

.template-member-div > div {
    padding: 0;
    display: inline-table;
    vertical-align: middle; 
}

.template-member-div > div:nth-child(1) {
    font-weight: bold;
    font-family: DejavuSansMono, "DejaVu Sans Mono", courier, monospace;
}

.template-member-div > div:nth-child(2) {
    padding-left: 0.2em;
}

.template-member-nobold-div > div:nth-child(1) {
    font-weight: normal;
    font-family: DejavuSerif, "DejaVu Serif", verdana, sans-serif;
}

/* ====================================================================== 
   WIKIPEDIA DEFAULTS 
 ------------------------------------------------------------------------
*/


/* Footer and header message box styles */
table.fmbox {
    clear: both;
    margin: 0.2em 0;
    width: 100%;
    border: 1px solid #aaa;
    background: #f9f9f9;     /* Default "system" gray */
}
table.fmbox-system {
    background: #f9f9f9;
}
table.fmbox-warning {
    border: 1px solid #bb7070;  /* Dark pink */
    background: #ffdbdb;        /* Pink */
}
table.fmbox-editnotice {
    background: transparent;
}


/* Cell sizes for ambox/tmbox/imbox/cmbox/ombox/fmbox/dmbox message boxes */
th.mbox-text, td.mbox-text {   /* The message body cell(s) */
    border: none; 
    padding: 0.25em 0.9em;     /* 0.9em left/right */
    width: 100%;               /* Make all mboxes the same width regardless of text length */
}
td.mbox-image {                /* The left image cell */
    border: none; 
    padding: 2px 0 2px 0.9em;  /* 0.9em left, 0px right */
    text-align: center; 
}
td.mbox-imageright {           /* The right image cell */
    border: none;
    padding: 2px 0.9em 2px 0;  /* 0px left, 0.9em right */
    text-align: center; 
}
td.mbox-empty-cell {           /* An empty narrow cell */
    border: none;
    padding: 0px;
    width: 1px;
}

/* ====================================================================== 
   DEFAULTS 
 ------------------------------------------------------------------------
*/
/* CSS placed here will be applied to all skins */

/* Main page fixes */
#interwiki-completelist {
    font-weight: bold;
}
body.page-Main_Page #ca-delete {
    display: none !important;
}

body.page-Main_Page #mp-topbanner {
   clear: both;
}

/* Edit window toolbar */
#toolbar {
    height: 22px;
    margin-bottom: 6px;
}

/* Margins for <ol> and <ul> */
div#content ol, div#content ul,
div#mw_content ol, div#mw_content ul {
    margin-bottom: 0.5em;
}

/* Make the list of references smaller */
ol.references,
div.reflist,
div.refbegin {
    font-size: 90%;            /* Default font-size */
}
div.reflist ol.references {
    font-size: 100%;           /* Reset font-size when nested in div.reflist */
    list-style-type: inherit;  /* Enable custom list style types */
}

/* Highlight clicked reference in blue to help navigation */
ol.references li:target,
sup.reference:target,
span.citation:target { 
    background-color: #DEF;
}

/* Ensure refs in table headers and the like aren't bold or italic */
sup.reference {
    font-weight: normal;
    font-style: normal;
}

/* Styling for citations */
span.citation, cite {
    font-style: normal;
    word-wrap: break-word;
}

/* For linked citation numbers and document IDs, where
   the number need not be shown on a screen or a handheld,
   but should be included in the printed version
*/
@media screen, handheld {
    span.citation *.printonly {
        display: none;
    }
}

/* Default skin for navigation boxes */
table.navbox {            /* Navbox container style */
    border: 1px solid #aaa;
    width: 100%; 
    margin: auto;
    clear: both;
    font-size: 88%;
    text-align: center;
    padding: 1px;
}
table.navbox + table.navbox {  /* Single pixel border between adjacent navboxes */
    margin-top: -1px;          /* (doesn't work for IE6, but that's okay)       */
}
.navbox-title,
.navbox-abovebelow,
table.navbox th {
    text-align: center;      /* Title and above/below styles */
    padding-left: 1em;
    padding-right: 1em;
}
.navbox-group {              /* Group style */
    white-space: nowrap;
    text-align: right;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
}
.navbox, .navbox-subgroup {
    background: #fdfdfd;     /* Background color */
}
.navbox-list {
    border-color: #fdfdfd;   /* Must match background color */
}
.navbox-title,
table.navbox th {
    background: #ccccff;     /* Level 1 color */
}
.navbox-abovebelow,
.navbox-group,
.navbox-subgroup .navbox-title {
    background: #ddddff;     /* Level 2 color */
}
.navbox-subgroup .navbox-group, .navbox-subgroup .navbox-abovebelow {
    background: #e6e6ff;     /* Level 3 color */
}
.navbox-even {
    background: #f7f7f7;     /* Even row striping */
}
.navbox-odd {
    background: transparent; /* Odd row striping */
}

.collapseButton {          /* 'show'/'hide' buttons created dynamically */
    float: right;          /* by the CollapsibleTables javascript in    */
    font-weight: normal;   /* [[MediaWiki:Common.js]] are styled here   */
    text-align: right;     /* so they can be customised.                */
    width: auto;
}
.navbox .collapseButton {  /* In navboxes, the show/hide button balances */
    width: 6em;            /* the vde links from [[Template:Navbar]],    */
}                          /* so they need to be the same width.         */

.navbar {                  /* Navbox template links */
    font-size: 88%;        /* Default font-size */
    font-weight: normal;
}
.navbox .navbar {
    font-size: 100%;       /* Font-size when nested within navbox */
}

/* Infobox template style */
.infobox {
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    text-align: left;
    font-size: 88%;
    line-height: 1.5em;
}
.infobox caption {
    font-size: 125%;
    font-weight: bold;
}
.infobox td,
.infobox th {
    vertical-align: top;
}
.infobox.bordered {
    border-collapse: collapse;
}
.infobox.bordered td,
.infobox.bordered th {
    border: 1px solid #aaa;
}
.infobox.bordered .borderless td,
.infobox.bordered .borderless th {
    border: 0;
}

.infobox.sisterproject {
    width: 20em;
    font-size: 90%;
}

.infobox.standard-talk {
    border: 1px solid #c0c090;
    background-color: #f8eaba;
}
.infobox.standard-talk.bordered td,
.infobox.standard-talk.bordered th {
    border: 1px solid #c0c090;
}

/* styles for bordered infobox with merged rows */
.infobox.bordered .mergedtoprow td,
.infobox.bordered .mergedtoprow th {
    border: 0;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

.infobox.bordered .mergedrow td,
.infobox.bordered .mergedrow th {
    border: 0;
    border-right: 1px solid #aaa;
}

/* Normal font styling for table row headers with scope="row" tag */
.wikitable.plainrowheaders th[scope=row] {
    font-weight: normal;
    text-align: left;
}

/* lists in data cells are always left-aligned */
.wikitable td ul,
.wikitable td ol,
.wikitable td dl {
    text-align: left;
}

/* Icons for medialist templates [[Template:Listen]],
   [[Template:Multi-listen_start]], [[Template:Video]],
   [[Template:Multi-video_start]]
*/
div.listenlist {
    background: url("http://upload.wikimedia.org/wikipedia/commons/3/3f/Gnome_speakernotes_30px.png");
    padding-left: 40px;
}

/* Style rules for media list templates */
div.medialist {
    min-height: 50px;
    margin: 1em;
    background-position: top left;
    background-repeat: no-repeat;
}
div.medialist ul {
    list-style-type: none; 
    list-style-image: none;
    margin: 0;
}
div.medialist ul li {
    padding-bottom: 0.5em;
}
div.medialist ul li li {
    font-size: 91%;
    padding-bottom: 0;
}

/* Change the external link icon to an Adobe icon for all PDF files
   in browsers that support these CSS selectors, like Mozilla and Opera */
div#content a[href$=".pdf"].external, 
div#content a[href*=".pdf?"].external, 
div#content a[href*=".pdf#"].external,
div#content a[href$=".PDF"].external, 
div#content a[href*=".PDF?"].external, 
div#content a[href*=".PDF#"].external,
div#mw_content a[href$=".pdf"].external, 
div#mw_content a[href*=".pdf?"].external, 
div#mw_content a[href*=".pdf#"].external,
div#mw_content a[href$=".PDF"].external, 
div#mw_content a[href*=".PDF?"].external, 
div#mw_content a[href*=".PDF#"].external {
    background: url("http://upload.wikimedia.org/wikipedia/commons/2/23/Icons-mini-file_acrobat.gif") center right no-repeat;
    padding-right: 18px;
}

/* Change the external link icon to an Adobe icon anywhere the PDFlink class
   is used (notably Template:PDFlink). This works in IE, unlike the above. */
div#content span.PDFlink a,
div#mw_content span.PDFlink a {
    background: url("http://upload.wikimedia.org/wikipedia/commons/2/23/Icons-mini-file_acrobat.gif") center right no-repeat;
    padding-right: 18px;
}

/* Content in columns with CSS instead of tables [[Template:Columns]] */
div.columns-2 div.column {
    float: left;
    width: 50%;
    min-width: 300px;
}
div.columns-3 div.column {
    float: left;
    width: 33.3%;
    min-width: 200px;
}
div.columns-4 div.column {
    float: left;
    width: 25%;
    min-width: 150px;
}
div.columns-5 div.column {
    float: left;
    width: 20%;
    min-width: 120px;
}

/* Messagebox templates */
.messagebox {
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    width: 80%;
    margin: 0 auto 1em auto;
    padding: .2em;
}
.messagebox.merge {
    border: 1px solid #c0b8cc;
    background-color: #f0e5ff;
    text-align: center;
}
.messagebox.cleanup {
    border: 1px solid #9f9fff;
    background-color: #efefff;
    text-align: center;
}
.messagebox.standard-talk {
    border: 1px solid #c0c090;
    background-color: #f8eaba;
    margin: 4px auto;
}
/* For old WikiProject banners inside banner shells. */
.mbox-inside .standard-talk,
.messagebox.nested-talk {
    border: 1px solid #c0c090;
    background-color: #f8eaba;
    width: 100%;
    margin: 2px 0;
    padding: 2px;
}
.messagebox.small {
    width: 238px;
    font-size: 85%;
    float: right;
    clear: both;
    margin: 0 0 1em 1em;
    line-height: 1.25em; 
}
.messagebox.small-talk {
    width: 238px;
    font-size: 85%;
    float: right;
    clear: both;
    margin: 0 0 1em 1em;
    line-height: 1.25em; 
    background: #F8EABA;
}

/* Cell sizes for ambox/tmbox/imbox/cmbox/ombox/fmbox/dmbox message boxes */
th.mbox-text, td.mbox-text {   /* The message body cell(s) */
    border: none; 
    padding: 0.25em 0.9em;     /* 0.9em left/right */
    width: 100%;               /* Make all mboxes the same width regardless of text length */
}
td.mbox-image {                /* The left image cell */
    border: none; 
    padding: 2px 0 2px 0.9em;  /* 0.9em left, 0px right */
    text-align: center; 
}
td.mbox-imageright {           /* The right image cell */
    border: none;
    padding: 2px 0.9em 2px 0;  /* 0px left, 0.9em right */
    text-align: center; 
}
td.mbox-empty-cell {           /* An empty narrow cell */
    border: none;
    padding: 0px;
    width: 1px;
}

/* Article message box styles */
table.ambox {
    margin: 0px 10%;                  /* 10% = Will not overlap with other elements */
    border: 1px solid #aaa; 
    border-left: 10px solid #1e90ff;  /* Default "notice" blue */
    background: #fbfbfb; 
}
table.ambox + table.ambox {      /* Single border between stacked boxes. */
    margin-top: -1px;
}
.ambox th.mbox-text, 
.ambox td.mbox-text {            /* The message body cell(s) */
    padding: 0.25em 0.5em;       /* 0.5em left/right */
}
.ambox td.mbox-image {           /* The left image cell */
    padding: 2px 0 2px 0.5em;    /* 0.5em left, 0px right */
}
.ambox td.mbox-imageright {      /* The right image cell */
    padding: 2px 0.5em 2px 0;    /* 0px left, 0.5em right */
}

table.ambox-notice {
    border-left: 10px solid #1e90ff;    /* Blue */
}
table.ambox-speedy {
    border-left: 10px solid #b22222;    /* Red */
    background: #fee;                   /* Pink */
}
table.ambox-delete {
    border-left: 10px solid #b22222;    /* Red */
}
table.ambox-content {
    border-left: 10px solid #f28500;    /* Orange */
}
table.ambox-style {
    border-left: 10px solid #f4c430;    /* Yellow */
}
table.ambox-move {
    border-left: 10px solid #9932cc;    /* Purple */
}
table.ambox-protection {
    border-left: 10px solid #bba;       /* Gray-gold */
}

/* Image message box styles */
table.imbox {
    margin: 4px 10%; 
    border-collapse: collapse; 
    border: 3px solid #1e90ff;    /* Default "notice" blue */
    background: #fbfbfb;
}
.imbox .mbox-text .imbox {  /* For imboxes inside imbox-text cells. */
    margin: 0 -0.5em;       /* 0.9 - 0.5 = 0.4em left/right.        */
    display: block;         /* Fix for webkit to force 100% width.  */
}
.mbox-inside .imbox {       /* For imboxes inside other templates.  */
    margin: 4px;
}

table.imbox-notice {
    border: 3px solid #1e90ff;    /* Blue */
}
table.imbox-speedy {
    border: 3px solid #b22222;    /* Red */
    background: #fee;             /* Pink */
}
table.imbox-delete {
    border: 3px solid #b22222;    /* Red */
}
table.imbox-content {
    border: 3px solid #f28500;    /* Orange */
}
table.imbox-style {
    border: 3px solid #f4c430;    /* Yellow */
}
table.imbox-move {
    border: 3px solid #9932cc;    /* Purple */
}
table.imbox-protection {
    border: 3px solid #bba;       /* Gray-gold */
}
table.imbox-license {
    border: 3px solid #88a;       /* Dark gray */
    background: #f7f8ff;          /* Light gray */
}
table.imbox-featured {
    border: 3px solid #cba135;    /* Brown-gold */
}

/* Category message box styles */
table.cmbox {
    margin: 3px 10%;
    border-collapse: collapse;
    border: 1px solid #aaa; 
    background: #DFE8FF;    /* Default "notice" blue */
}

table.cmbox-notice {
    background: #D8E8FF;    /* Blue */
}
table.cmbox-speedy {
    margin-top: 4px;
    margin-bottom: 4px;
    border: 4px solid #b22222;    /* Red */
    background: #FFDBDB;          /* Pink */
}
table.cmbox-delete {
    background: #FFDBDB;    /* Red */
}
table.cmbox-content {
    background: #FFE7CE;    /* Orange */
}
table.cmbox-style {
    background: #FFF9DB;    /* Yellow */
}
table.cmbox-move {
    background: #E4D8FF;    /* Purple */
}
table.cmbox-protection {
    background: #EFEFE1;    /* Gray-gold */
}

/* Other pages message box styles */
table.ombox {
    margin: 4px 10%; 
    border-collapse: collapse; 
    border: 1px solid #aaa;       /* Default "notice" gray */
    background: #f9f9f9;
}

table.ombox-notice {
    border: 1px solid #aaa;       /* Gray */
}
table.ombox-speedy {
    border: 2px solid #b22222;    /* Red */
    background: #fee;             /* Pink */
}
table.ombox-delete {
    border: 2px solid #b22222;    /* Red */
}
table.ombox-content {
    border: 1px solid #f28500;    /* Orange */
}
table.ombox-style {
    border: 1px solid #f4c430;    /* Yellow */
}
table.ombox-move {
    border: 1px solid #9932cc;    /* Purple */
}
table.ombox-protection {
    border: 2px solid #bba;       /* Gray-gold */
}
 
/* Talk page message box styles */
table.tmbox {
    margin: 4px 10%;
    border-collapse: collapse;
    border: 1px solid #c0c090;    /* Default "notice" gray-brown */
    background: #f8eaba;
}
.mediawiki .mbox-inside .tmbox { /* For tmboxes inside other templates. The "mediawiki" class ensures that */
    margin: 2px 0;               /* this declaration overrides other styles (including mbox-small above)   */
    width: 100%;                 /* For Safari and Opera */
}
.mbox-inside .tmbox.mbox-small { /* "small" tmboxes should not be small when  */
    line-height: 1.5em;          /* also "nested", so reset styles that are   */   
    font-size: 100%;             /* set in "mbox-small" above.                */
}

table.tmbox-speedy {
    border: 2px solid #b22222;    /* Red */
    background: #fee;             /* Pink */
}
table.tmbox-delete {
    border: 2px solid #b22222;    /* Red */
}
table.tmbox-content {
    border: 2px solid #f28500;    /* Orange */
}
table.tmbox-style {
    border: 2px solid #f4c430;    /* Yellow */
}
table.tmbox-move {
    border: 2px solid #9932cc;    /* Purple */
}
table.tmbox-protection,
table.tmbox-notice {
    border: 1px solid #c0c090;    /* Gray-brown */
}

/* Disambig and set index box styles */
table.dmbox {
    clear: both; 
    margin: 0.9em 1em; 
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    background: transparent;
}
 
/* Footer and header message box styles */
table.fmbox {
    clear: both;
    margin: 0.2em 0;
    width: 100%;
    border: 1px solid #aaa;
    background: #f9f9f9;     /* Default "system" gray */
}
table.fmbox-system {
    background: #f9f9f9;
}
table.fmbox-warning {
    border: 1px solid #bb7070;  /* Dark pink */
    background: #ffdbdb;        /* Pink */
}
table.fmbox-editnotice {
    background: transparent;
}
/* Div based "warning" style fmbox messages. */
div.mw-warning-with-logexcerpt,
div.mw-lag-warn-high,
div.mw-cascadeprotectedwarning,
div#mw-protect-cascadeon {
    clear: both;
    margin: 0.2em 0;
    border: 1px solid #bb7070;
    background: #ffdbdb;
    padding: 0.25em 0.9em;
}
/* Div based "system" style fmbox messages. 
   Used in [[MediaWiki:Readonly lag]]. */
div.mw-lag-warn-normal,
div.fmbox-system {
    clear: both;
    margin: 0.2em 0;
    border: 1px solid #aaa;
    background: #f9f9f9;
    padding: 0.25em 0.9em;
}

/* These mbox-small classes must be placed after all other 
   ambox/tmbox/ombox etc classes. "body.mediawiki" is so 
   they override "table.ambox + table.ambox" above. */
body.mediawiki table.mbox-small {   /* For the "small=yes" option. */
    clear: right;
    float: right;
    margin: 4px 0 4px 1em;
    width: 238px;
    font-size: 88%;
    line-height: 1.25em;
}
body.mediawiki table.mbox-small-left {   /* For the "small=left" option. */
    margin: 4px 1em 4px 0;
    width: 238px;
    border-collapse: collapse;
    font-size: 88%;
    line-height: 1.25em;
}


/* Remove default styles for [[MediaWiki:Noarticletext]]. */
div.noarticletext {
    border: none;
    background: transparent;
    padding: 0;
}

#wpSave {
    font-weight: bold;
}

/* class hiddenStructure is defunct. See [[Wikipedia:hiddenStructure]] */
.hiddenStructure {
    display: inline ! important;
    color: #f00; 
    background-color: #0f0;
}

/* suppress missing interwiki image links where #ifexist cannot
   be used due to high number of requests see .hidden-redlink on 
   http://meta.wikimedia.org/wiki/MediaWiki:Common.css
*/
.check-icon a.new {
    display: none; 
    speak: none;
}

/* Removes underlines from certain links */
.nounderlines a,
.IPA a:link, .IPA a:visited { 
    text-decoration: none;
}

/* Standard Navigationsleisten, aka box hiding thingy
   from .de.  Documentation at [[Wikipedia:NavFrame]]. */
div.NavFrame {
    margin: 0;
    padding: 4px;
    border: 1px solid #aaa;
    text-align: center;
    border-collapse: collapse;
    font-size: 95%;
}
div.NavFrame + div.NavFrame {
    border-top-style: none;
    border-top-style: hidden;
}
div.NavPic {
    background-color: #fff;
    margin: 0;
    padding: 2px;
    float: left;
}
div.NavFrame div.NavHead {
    height: 1.6em;
    font-weight: bold;
    background-color: #ccf;
    position: relative;
}
div.NavFrame p,
div.NavFrame div.NavContent,
div.NavFrame div.NavContent p {
    font-size: 100%;
}
div.NavEnd {
    margin: 0;
    padding: 0;
    line-height: 1px;
    clear: both;
}
a.NavToggle {
    position: absolute;
    top: 0;
    right: 3px;
    font-weight: normal;
    font-size: 90%;
}

/* Hatnotes and disambiguation notices */
.rellink,
.dablink {
    font-style: italic;
    padding-left: 2em;
    margin-bottom: 0.5em;
}
.rellink i,
.dablink i {
    font-style: normal;
}

/* Style for horizontal UL lists */
.horizontal ul {
    padding: 0;
    margin: 0;
}
.horizontal li { 
    padding: 0 0.6em 0 0.4em;
    display: inline;
    border-right: 1px solid;
}
.horizontal li:last-child {
    border-right: none;
    padding-right: 0;
}

/* Allow transcluded pages to display in lists rather than a table.
   Compatible in Firefox; incompatible in IE6. */
.listify td    { display: list-item; }
.listify tr    { display: block; }
.listify table { display: block; }

/* When <div class="nonumtoc"> is used on the table of contents,
   the ToC will display without numbers */
.nonumtoc .tocnumber { display: none; }
.nonumtoc #toc ul,
.nonumtoc .toc ul {
    line-height: 1.5em;
    list-style: none;
    margin: .3em 0 0;
    padding: 0;
}
.nonumtoc #toc ul ul, 
.nonumtoc .toc ul ul { 
    margin: 0 0 0 2em; 
}

/* Allow limiting of which header levels are shown in a TOC;
   <div class="toclimit-3">, for instance, will limit to
   showing ==headings== and ===headings=== but no further
   (as long as there are no =headings= on the page, which
   there shouldn't be according to the MoS).
 */
.toclimit-2 .toclevel-1 ul,
.toclimit-3 .toclevel-2 ul,
.toclimit-4 .toclevel-3 ul,
.toclimit-5 .toclevel-4 ul,
.toclimit-6 .toclevel-5 ul,
.toclimit-7 .toclevel-6 ul {
    display: none;
}

/* Styling for Template:Quote */
blockquote.templatequote { 
     margin-top: 0; 
}
blockquote.templatequote div.templatequotecite { 
    line-height: 1em;
    text-align: left;
    padding-left: 2em;
    margin-top: 0;
}
blockquote.templatequote div.templatequotecite cite {
    font-size: 85%;
}

/* User block messages */
div.user-block {
    padding: 5px;
    margin-bottom: 0.5em;
    border: 1px solid #A9A9A9;
    background-color: #FFEFD5;
}

/* Prevent line breaks in silly places: 
   1) Links when we don't want them to
   2) Bold "links" to the page itself
   2) HTML formulae
   3) Ref tags with group names <ref group="Note"> --> "[Note 1]"
*/
.nowraplinks a,
.nowraplinks .selflink,
span.texhtml,
sup.reference a { 
    white-space: nowrap;
}

/* For template documentation */
.template-documentation {
    clear: both;
    margin: 1em 0 0 0;
    border: 1px solid #aaa; 
    background-color: #ecfcf4; 
    padding: 1em;
}

/* Inline divs in ImageMaps (code borrowed from de.wiki) */
.imagemap-inline div {
    display: inline;
}

/* Increase the height of the image upload box */
#wpUploadDescription {
    height: 13em;
}

/* Reduce line-height for <sup> and <sub> */
sup, sub {
    line-height: 1em;
}

/* Minimum thumb width */
.thumbinner {
    min-width: 100px;
}

/* Makes the background of a framed image white instead of gray. */
/* Only visible with transparent images. */
div.thumb img.thumbimage {
    background-color: #fff;
}
 
/* The backgrounds for galleries. */
div#content .gallerybox div.thumb {
    background-color: #F9F9F9;   /* Light gray padding */
}
/* Put a chequered background behind images, only visible if they have transparency */
.gallerybox .thumb img,
.filehistory a img,
#file img {
    background: white url("http://upload.wikimedia.org/wikipedia/commons/5/5d/Checker-16x16.png") repeat;
}
/* But not on articles, user pages, portals or with opt-out. */
.ns-0 .gallerybox .thumb img,
.ns-2 .gallerybox .thumb img,
.ns-100 .gallerybox .thumb img, 
.nochecker .gallerybox .thumb img {
    background: white;
}

/* Prevent floating boxes from overlapping any category listings,
   file histories, edit previews, and edit [Show changes] views */
#mw-subcategories, #mw-pages, #mw-category-media, 
#filehistory, #wikiPreview, #wikiDiff {
    clear: both;
}

/* Selectively hide headers in WikiProject banners */
.wpb .wpb-header             { display: none; }
.wpbs-inner .wpb .wpb-header { display: block; }     /* for IE */
.wpbs-inner .wpb .wpb-header { display: table-row; } /* for real browsers */
.wpbs-inner .wpb-outside     { display: none; }      /* hide things that should only display outside shells */

/* Styling for Abuse Filter tags */
.mw-tag-markers {
    font-family:sans-serif;
    font-style:italic;
    font-size:90%;
}

/* Fix monospace fontsize in new edit toolbar (jquery.wikiEditor.toolbar.css).
   [[Bugzilla:27502]] */
.wikiEditor-ui-toolbar .section-help .page-table td.cell-syntax,
.wikiEditor-ui-toolbar .section-help .page-table td.syntax {
    font-family: monospace, "Courier New";
}


/* Remove bullets when there are multiple edit page warnings */
ul.permissions-errors > li {
    list-style: none;
}
ul.permissions-errors {
    margin: 0;
}

/* No linewrap on the labels of the login/signup page */
body.page-Special_UserLogin .mw-label label,
body.page-Special_UserLogin_signup .mw-label label { white-space : nowrap; }

/* Disable the automatic text-size adjust of WebKit on iPhones etc.
   It scales some text, and not the other. Use none, or fixed percentage instead.
   Use media selector, because defining a value, overwrites platform defaults. */
@media only screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: none;
    }
}

/* Pie chart test: Transparent borders */
.transborder {
    border: solid transparent;
}
* html .transborder {  /* IE6 */
    border: solid #000001;
    filter: chroma(color=#000001);
}